/* Fonts */

@font-face {
    font-family: "CaviarDreams";
    src: url("../fonts/caviar_dreams/CaviarDreams.ttf");
}

@font-face {
    font-family: "NotoSerifKR-SemiBold";
    src: url("../fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf");
}

@font-face {
    font-family: "NotoSerifKR-Light";
    src: url("../fonts/Noto_Serif_KR/NotoSerifKR-Light.otf");
}


/* Body */

body {
    color: #121B1C;
    background-color: #FFF8F1;
    font-family: "CaviarDreams";
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1100px;
}


/* ----- Header ----- */

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/Imagebackground.png");
    background-size: cover;
    height: 400px;
}

header img {
    height: 100px;
}

/* ----- Introduction ----- */

/* Introduction globale */

.introduction {
    padding: 100px 0;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items:stretch;
}

/* Introduction texte du haut */

.introduction p {
    font-size: 1.2em;
    letter-spacing: 5px;
    align-self: center;
}

/* Introduction texte en coréen et barres */

.introduction_sub {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.introduction_korean {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
}

.introduction_korean p {
    font-size: 1.5em;
    letter-spacing: 0px;
    font-family: "NotoSerifKR-Light" ;

    padding: 10px 50px;
}



/* ----- CHAPITRES ----- */


/* Général propore aux titres du chapire */

h1 {
    font-size: 1.6em;
    letter-spacing: 5px;
    padding-bottom: 20px;

}

h2 {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 7px;
    transform: translateX(30%);
}

h3 {
    font-family: "NotoSerifKR-SemiBold";
    font-size: 3.2em;
    letter-spacing: 7px;
}


/* ----- CHAPITRE 1 ----- */

/* Chapitre 1 total */

.chap_1 {
    display: flex;
    flex-direction: column;
}


/* Titre du chapitre 1 */

.chap_1_title {
    display: flex;
    align-items: center;
}


.chap_1_title img {
    position: relative;
    margin-left: -250px;
    height: 200px;
}

.chap_1_title_content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;

    transform: translate(200%, 60%);
}


/* Description du chapitre 1 */

.chap_1_description {
    display: flex;
    justify-content: flex-end;
}

.chap_1_description img {
    position: relative;
    padding-top: 20px;
    height: 230px;
    margin-right: -700px;
}

.chap_1_description_content {
    font-size: 1.1em;
    letter-spacing: 5px;
    line-height: 130%;

    position: absolute;
    z-index: 1;
    transform: translate(-80%, 130%);
}

/* Article du chapitre 1 */

.chap_1_main {
    display: flex;
}

/*Chap 1 Image principale */

.chap_1_main_img {
    transform: translateY(-7%) ;
    z-index: -2;
}

.chap_1_main_img img {
    height: 1000px;
}

/*Chap 1 Article */

.chap_1_article_global {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.chap_1_article_global img {
    padding-top: 50px;
    height: 100px;
    transform: translateX(20%) ;
}

.chap_1_article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 50px;
}

.chap_1_article_content {
    font-family: "NotoSerifKR-Light";
    letter-spacing: 3px;
    line-height: 25px;

    padding-left: 30px;
    padding-right: 80px;
}