/* Fonts */

@font-face {
    font-family: "CaviarDreams";
    src: url("../fonts/caviar_dreams/CaviarDreams.ttf");
}

@font-face {
    font-family: "NotoSerifKR-SemiBold";
    src: url("../fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf");
}

@font-face {
    font-family: "NotoSerifKR-Light";
    src: url("../fonts/Noto_Serif_KR/NotoSerifKR-Light.otf");
}


/* Body */

body {
    color: #121B1C;
    background-color: #FFF8F1;
    font-family: "CaviarDreams";
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ----- Header ----- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../assets/Imagebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

header img {
    height: 100px;
}

/* ----- Introduction ----- */

/* Introduction globale */

.introduction {
    padding: 100px 0;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Introduction texte du haut */

.introduction h4 {
    align-self: center;
}

/* Introduction texte en coréen et barres */

.introduction_sub {
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
}

.introduction_korean {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 20px;
}


/* ----- CHAPITRES ----- */


/* Général propore aux chapires */

h1 {
    font-size: 1.6em;
    letter-spacing: 5px;
    padding-bottom: 20px;
    
}

h2 {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 7px;
}

h3 {
    font-family: "NotoSerifKR-SemiBold";
    font-size: 3.2em;
    letter-spacing: 7px;
    line-height: 70px;
}

h4 {
    font-size: 1.2em;
    letter-spacing: 5px;
}

h5 {
    font-size: 1.5em;
    letter-spacing: 0px;
    font-family: "NotoSerifKR-Light" ;
    
    padding: 10px 30px;
}

a {
    text-decoration: none;
    color: #121B1C;
}

.chap {
    display: flex;
    flex-direction: column;
    position: relative;
    
    width: 1000px;
}


/* Titre du chapitre 

.chap_1_title, .chap_2_title, .chap_3_title, .chap_4_title, .chap_5_title  {
    display: flex;
    align-items: center;
    position: relative;
}

.chap_1_title_content, .chap_2_title_content {
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
}

*/


/* Description du chapitre 

.chap_1_description, .chap_2_description_item, .chap_5_description {
    position: relative;
    display: flex;
}

.chap_1_description_content, .chap_2_description_content, .chap_5_description_content {
    font-size: 1.1em;
    letter-spacing: 5px;
    line-height: 130%;
    
    position: absolute;
    z-index: 1;
}

*/


/* ----- CHAPITRE 1 ----- */


/* Titre du chapitre 1 */

.chap_1_title  {
    display: flex;
    align-items: center;
    position: relative;
}


.chap_1_title img {
    position: relative;
    right: 250px;
    height: 200px;
}

.chap_1_title_content {
    left: 400px;
    bottom: 30px;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
    
    /*transform: translate(200%, 60%);*/
}

.chap_1_title_content h2 {
    padding-left: 90px;
}


/* Description du chapitre 1 */

.chap_1_description {
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}

.chap_1_description img {
    position: relative;
    padding-top: 20px;
    height: 230px;
    left: 700px;
}

.chap_1_description_content {
    position: absolute;
    z-index: 1;
    left: 400px;
    bottom: 50px;
    
    font-size: 1em;
    letter-spacing: 5px;
    line-height: 130%;
    
    
    /*transform: translate(-80%, 130%)*/;
}

/* Article du chapitre 1 */

.chap_1_main {
    display: flex;
}

/*Chap 1 Image principale */

.chap_1_main_img {
    transform: translateY(-7%) ;
    z-index: -2;
}

.chap_1_main_img img {
    height: 900px;
}

/*Chap 1 Article */

.chap_1_article_global {
    display: flex;
    flex-direction: column;
    
    position: relative;
}

.chap_1_article_global img {
    height: 100px;
    
    position: absolute;
    left: 220px;
    top: 35px;
    
    /*transform: translateX(20%) ;*/
}

.chap_1_article {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    padding-left: 50px;
    padding-top: 230px;
}

.chap_1_article_content {
    font-family: "NotoSerifKR-Light";
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 0.9em;
    
    padding-left: 30px;
    padding-right: 50px;
}


/* ----- CHAPITRE 2 ----- */

/* Global */

.chap_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chap_2_container {
    width: 100%;
    background: linear-gradient(180deg, #FFF8F1 55%, #FFE9D8 55%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre du chapitre 2 */


.chap_2_title  {
    display: flex;
    align-items: center;
    position: relative;
    width: 1000px;
}


.chap_2_title img {
    position: relative;
    left: 400px;
    height: 350px;
}

.chap_2_title_content {
    right: 250px;
    bottom: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    z-index: 1;
    
}

.chap_2_title_content h1 {
    padding-left: 100px;
}

/* Description du chapitre 2 */

.chap_2_article {
    background-color:#FFE9D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chap_2_description {
    display: flex;
    justify-content: flex-start;
    
    width: 1000px;
    
    position: relative;
}


.chap_2_description_item img {
    position: relative;
    height: 300px;
    right: 700px;
    bottom: 60px;
}

.chap_2_description_content {
    padding: 0 80px;
    right: 50%;
    bottom: 240px;
    
    font-size: 0.9em;
    letter-spacing: 5px;
    line-height: 130%;
    
    position: absolute;
    z-index: 1;
}

.description_korean {
    position: absolute;
    right: 250px;
    height: 250px;
}


/* Menu */


.chap_2_menu {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
}

.chap_2_menu img {
    position: relative;
    height: 200px;
    top: 50px;
}

#small_clouds {
    position: relative;
    top: -50px;
}

#big_cloud {
    position: relative;
}


.chap_2_menu p {
    position: absolute;
    right: 250px;
    bottom: 0px;
    
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px 30px;
    
    background-color: #FFF8F1;
    border-radius: 50px;
}

/* Details */

.chap_2_details {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1000px;
}

.chap_2_details_items {
    display: flex;
    padding: 0px 70px 100px 70px;
    gap: 50px;
}


.chap_2_details_items p {
    display: flex;
    align-items: center;
    
    padding: 40px;
    width: 300px;
    
    font-family: "NotoSerifKR-Light";
    font-size: 0.9em;
    letter-spacing: 3px;
    line-height: 25px;
    
    border: 1px solid #FF9086;
}

.chap_2_details_img {
    display: flex;
}

.chap_2_details_img img {
    width: 100%;
}

/* ---- CHAPITRE 3 ---- */

/* Chapitre 3 intro et titre */


.chap_3_intro {
    padding-top: 50px;
}

.chap_3_intro_background {
    object-fit: cover;
    width: 100%;
    height: 400px;
    position: relative;
}

.chap_3_title  {
    display: flex;
    align-items: center;
    position: relative;
}


.chap_3_title img {
    position: relative;
    height: 300px;
    left: -30px;
    bottom: 100px;
}

.chap_3_title_content {
    left: 200px;
    top: 20px;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
    
    /*transform: translate(200%, 60%);*/
}

.chap_3_title_content h2 {
    padding-left: 90px;
}

/* Chap 3 article */

.chap_3_article {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    position: relative;
    top: -90px;
    right: 50px;
    gap: 50px;
}

.chap_3_article p {
    font-family: "NotoSerifKR-Light";
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 0.9em;
    
    text-align: end;
}

/* Chap 3 image */

.chap_3_img {
    display: flex;
    flex-direction: column;
    padding: 20px 0 100px 0;
    
    position: relative;
}

.chap_3_img img {
    width: 100%;
}

.chap_3_slider img {
    display: none;
    height: 550px;
    object-fit: cover;
}

img.active {
    display: block;
    opacity: 1;
    animation: fade 0.3s;
}

@keyframes fade {
    from {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}

.arrows {
    position: absolute;
    display: flex;
    height: 550px;
    align-items: center;
}

#arrow_right, #arrow_left {
    position: relative;
}

#arrow_right {
    left: 900px;
}

#arrow_right:hover, #arrow_left:hover {
    padding: 250px 0;
    cursor: pointer;
}

#arrow_right:hover path, #arrow_left:hover path {
    fill: #FFE9D8;
}


#arrow_right:hover {
    background: linear-gradient(270deg, rgba(255, 248, 241, 0.3) 80%, transparent 100%);
    padding-left: 10px;
    margin-left: -10px;
}

#arrow_left:hover {
    background: linear-gradient(90deg, rgba(255, 248, 241, 0.3) 80%, transparent 100%);
    padding-right: 10px;
    margin-right: -10px;
}




/* Chapitre 4 */

/* Chapitre 4 intro et titre */

.chap_4_title  {
    display: flex;
    align-items: center;
    position: relative;
}


.chap_4_title img {
    position: relative;
    left: 200px;
    height: 250px;
}

.chap_4_title_content {
    right: 150px;
    bottom: 75px;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
    
}

.chap_4_title_content h1 {
    padding-left: 100px;
}

/* Chap 4 article */

.chap_4_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0 100px 0;
}

.chap_4_article img {
    height: 400px;
    position: relative;
    left: -50px;
}

.chap_4_article_content {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 0 0;
    gap: 50px;
}

.chap_4_article_content p {
    font-family: "NotoSerifKR-Light";
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 0.9em;
}

/* Chap 4 img */

.chap_4_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
    padding: 70px 0;
    
    border-top: 1px solid #7B7068;
    border-bottom: 1px solid #7B7068;
}

.chap_4_img img {
    height: 300px;
}

.chap_4_img_line_2 {
    position: relative;
    right: -197px;
}


/* ---- CHAPITRE 5 ---- */


/* Chapitre 5 titre */

.chap_5_title  {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 120px;
}

.chap_5_title img {
    position: relative;
    right: 620px;
    height: 250px;
    top: 100px;
}

.chap_5_title_content {
    left: 200px;
    bottom: 155px;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
}

.chap_5_title_content h2 {
    padding-left: 90px;
}

/* Chapitre 5 description */

.chap_5_description {
    display: flex;
    gap: 150px;
}

.chap_5_description_content  {
    display: flex;
    align-items: center;
    position: relative;
}

.chap_5_description_content img {
    position: relative;
    left: 50px;
    height: 180px;
    width: 90%;
}

.chap_5_description_content p {
    left: 120px;
    bottom: 45px;
    
    display: flex;
    flex-direction: column;
    
    position: absolute;
    z-index: 1;
    
    font-size: 0.9em;
    letter-spacing: 5px;
    line-height: 130%;
}

.chap_5_clouds {
    height: 120px;
    position: relative;
    bottom: 90px;
}

/* Chapitre 5 article */

.chap_5_article {
    display: flex;
    justify-content: space-between;
    
    padding: 30px 0 50px 0;
}

.chap_5_article img {
    height: 1000px;
    z-index: -1;
}

.chap_5_article_content {
    display: flex;
    flex-direction: column;
    
    padding: 100px 100px;
    gap: 50px;
}

.chap_5_article_content p {
    font-family: "NotoSerifKR-Light";
    letter-spacing: 3px;
    line-height: 25px;
    font-size: 0.9em;
}

.chap_5_article_content img {
    position: relative;
    top: 130px;
    height: 170px;
}


/* ---- FOOTER ---- */

footer {
    display: flex;
    justify-content: center;
    position: relative;
}

.footer_background {
    position: relative;
    
    z-index: -1;
    width: 1300px;
    
}

.footer_content {
    position: absolute;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    top: 220px;
    gap: 10px;
}

.footer_content p, .footer_content a {
    padding: 20px 40px;
    border-radius: 50px;
    border: 1px solid #7B7068;
    background-color: #FFF8F1;
    
    text-align: center;
}

.footer_content img {
    height: 100px;
    padding-bottom: 40px;
    object-fit: contain;
    
} 

footer a:hover {
    background-color: #FFE9D8;
}



/* PETITS ORDINATEURS ET TABLETTES */

@media screen and (max-width:999px) {
    
    /* Global */
    
    .chap {
        max-width: 700px;
    }

    /* ----- Introduction ----- */

    /* Introduction texte en coréen et barres */

    .introduction_sub img {
        margin: -100px;
    }

        /* ----- CHAPITRES ----- */


    /* Général propore aux chapires */

    h1 {
        font-size: 1.3em;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 0.8em;
    }

    h3 {
        font-size: 2.2em;
        line-height: 50px;
    }

    h5 {
        font-size: 1.4em;
        padding: 10px 20px;
    }


    /* ----- CHAPITRE 1 ----- */


    /* Titre du chapitre 1 */

    .chap_1_title img {
        height: 150px;
        right: 200px;
    }

    .chap_1_title_content {
        left: 250px;
        bottom: 25px;
    }

    /* Description du chapitre 1 */

    .chap_1_description img {
        height: 150px;
        left: 480px;
    }

    .chap_1_description_content {
        left: 330px;
        bottom: 20px;
        
        font-size: 0.9em;
    }

    /*Chap 1 Image principale */

    .chap_1_main_img img {
        height: 600px;
    }

    /*Chap 1 Article */

    .chap_1_article_global img {
        height: 70px;
        left: 170px;
        top: 35px;
    }

    .chap_1_article {
        gap: 30px;
        
        padding-left: 40px;
        padding-top: 150px;
    }

    .chap_1_article_content {
        line-height: 22px;
        
        padding-left: 0px;
        padding-right: 20px;
    }

    /* ----- CHAPITRE 2 ----- */

    /* Titre du chapitre 2 */


    .chap_2_title  {
        width: 700px;
    }


    .chap_2_title img {
        left: 300px;
        height: 250px;
    }

    .chap_2_title_content {
        right: 100px;
        bottom: 115px;
    }

    /* Description du chapitre 2 */

    .chap_2_description {
        width: 700px;
    }

    .chap_2_description_item img {
        height: 200px;
        right: 400px;
    }

    .chap_2_description_content {
        padding: 0 50px;
        left: 20px;
        bottom: 165px;
    }

    .description_korean {
        right: 130px;
        height: 200px;
    }


    /* Menu */

    .chap_2_menu {
        width: 700px;
    }

    .chap_2_menu img {
        position: relative;
        height: 150px;
        top: 50px;
    }

    .chap_2_menu p {
        right: 140px;
        bottom: -20px;
    }

    /* Details */

    .chap_2_details {
        width: 700px;
    }

    .chap_2_details_items {
        padding: 0px 30px 100px 30px;
        gap: 10px;
    }


    .chap_2_details_items p {
        padding: 30px;
        width: 300px;

        letter-spacing: 3px;
        line-height: 22px;
    }

    /* ---- CHAPITRE 3 ---- */

    /* Chapitre 3 intro et titre */

    .chap_3_intro_background {
        height: 300px;
    }

    .chap_3_title img {
        height: 220px;
        left: -50px;
        bottom: 70px;
    }

    .chap_3_title_content {
        left: 100px;
        top: 15px;
    }

    /* Chap 3 article */

    .chap_3_article {
        top: -50px;
        right: 30px;
        gap: 50px;
    }

    .chap_3_article p {
        line-height: 22px;
        padding-left: 130px;
    }

    /* Chap 3 image */

    .chap_3_img {
        padding: 20px 0 80px 0;
    }

    .chap_3_slider img {
        height: 400px;
    }

    .arrows {
        height: 400px;
    }

    #arrow_right, #arrow_left {
        height: 30px;
        padding: 100px 0px;
    }

    #arrow_right {
        left: 600px;
    }

    #arrow_left:hover {
        padding: 185px 0;
        padding-right: 10px;
    }

    #arrow_right:hover {
        padding: 185px 10px;
    }


    /* ---- CHAPITRE ---- 4 */

    /* Chapitre 4 intro et titre */

    .chap_4_title img {
        left: 120px;
        height: 180px;
    }

    .chap_4_title_content {
        right: 70px;
        bottom: 50px; 
    }

    /* Chap 4 article */

    .chap_4_article {
        padding: 0px 0 100px 0;
    }

    .chap_4_article img {
        height: 250px;
    }

    .chap_4_article_content {
        gap: 30px;
    }

    .chap_4_article_content p {
        line-height: 22px;
    }

    /* Chap 4 img */

    .chap_4_img {       
        gap: 20px;
        padding: 50px 0;
    }

    .chap_4_img img {
        height: 220px;
    }

    .chap_4_img_line_2 {
        right: -127px;
    }

    /* ---- CHAPITRE 5 ---- */


    /* Chapitre 5 titre */

    .chap_5_title {
        padding-bottom: 100px;
    }

    .chap_5_title img {
        right: 420px;
        height: 180px;
    }

    .chap_5_title_content {
        left: 100px;
        bottom: 100px;
    }

    /* Chapitre 5 description */

    .chap_5_description {
        gap: 100px;
    }

    .chap_5_description_content img {
        left: 30px;
        width: 110%;
    }

    .chap_5_description_content p {
        left: 80px;
        bottom: 45px;

        width: 370px;
    }

    .chap_5_clouds {
        height: 80px;
        bottom: 30px;
    }

    /* Chapitre 5 article */

    .chap_5_article {      
        padding: 30px 0 50px 0;
    }

    .chap_5_article img {
        height: 600px;
    }

    .chap_5_article_content {       
        padding: 70px;
    }

    .chap_5_article_content img {
        top: 70px;
        height: 140px;
    }

    /* ---- FOOTER ---- */

    .footer_background {
        height: 100%;     
    }

}


/* TELEPHONES */

@media screen and (max-width:699px) {

    /* ----- Header ----- */

    header {
        height: 200px;
    }

    header img {
        height: 70px;
    }

    /* ----- Introduction ----- */

    .introduction {
        padding: 100px 0 50px 0;
    }

    .introduction_sub {
        justify-content: center;
    }

    .introduction_sub img {
        display: none;
    }

    /* ----- CHAPITRES ----- */


    /* Général propore aux chapires */

    h1 {
        font-size: 1em;
        letter-spacing: 5px;
        padding-bottom: 10px;
        
    }

    h2 {
        font-size: 0.7em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 1.2em;
        
        padding: 10px 20px;
    }

    .chap {       
        width: 350px;
    }

    /* ----- CHAPITRE 1 ----- */


    /* Titre du chapitre 1 */

    .chap_1_title img {
        right: 295px;
        height: 120px;
    }

    .chap_1_title_content {
        left: 60px;
        bottom: 20px;
    }

    .chap_1_title_content h2 {
        padding-left: 50px;
    }

    /* Description du chapitre 1 */

    .chap_1_description img {
        height: 170px;
        left: 275px;
    }

    .chap_1_description_content {
        left: 50px;
        bottom: 85px;
        padding: 0 10px;
        
        font-size: 0.8em;
        letter-spacing: 4px;
    }

    /* Article du chapitre 1 */

    .chap_1_main {
        flex-direction: column;
    }

    /*Chap 1 Image principale */

    .chap_1_main_img {
        transform: translateY(-12%);
        align-self: center;
    }

    .chap_1_main_img img {
        width: 100%;
    }

    /*Chap 1 Article */

    .chap_1_article_global {
        flex-direction: column;
    }

    .chap_1_article_global img {
        height: 70px;
        left: 240px;
        top: -30px;
    }

    .chap_1_article {
        gap: 30px;
        padding-top: 20px;
        padding-left: 55px;
    }

    .chap_1_article_content {
        letter-spacing: 2px;
        line-height: 22px;
        font-size: 0.8em;
        
        padding-left: 0px;
        padding-right: 20px;
    }

    /* ----- CHAPITRE 2 ----- */

    /* Global */

    /* Titre du chapitre 2 */

    .chap_2_title  {
        width: 350px;
    }

    .chap_2_title img {
        left: 50px;
        height: 200px;
    }

    .chap_2_title_content {
        right: 50px;
        bottom: 85px; 
    }

    .chap_2_title_content h1 {
        padding-left: 75px;
    }

    /* Description du chapitre 2 */

    .chap_2_description {      
        width: 350px;
    }

    .chap_2_description_item img {
        height: 170px;
        right: 340px;
        bottom: 0px;
    }

    .chap_2_description_content {
        padding: 0 10px;
        right: 0%;
        bottom: 95px;
        
        font-size: 0.8em;
        letter-spacing: 4px;
    }

    .description_korean {
        display: none;
    }


    /* Menu */


    .chap_2_menu {
        width: 350px;
    }

    .chap_2_menu img {
        height: 120px;
    }

    #small_clouds {
        top: 0px;
    }

    .chap_2_menu p {
        right: 30px;
        bottom: -30px;

        font-size: 1.5em;
        padding: 10px 20px;
        
        background-color: #FF9086;
        border-radius: 50px;
    }

    /* Details */

    .chap_2_details {
        width: 350px;
    }

    .chap_2_details_items {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }


    .chap_2_details_items p {       
        padding: 30px;
        width: 170px;
        
        font-size: 0.8em;
        letter-spacing: 2px;
        line-height: 22px;

    }

    .chap_2_details_img {
        display: flex;
        flex-direction: column;
    }






}




